ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: #ececec;
  height: 100vh;
}
.todo,
.todo-accordion {
  background-color: #fff;
  padding: 14px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 14px auto;
}
.todo-accordion h3 {
  padding: 14px;
  background-color: #ccc;
}
.todo ul {
  width: 100%;
}
.todo li {
  border-bottom: 1px solid #ccc;
  padding: 7px 14px;
  display: flex;
}
.todo li button {
  margin-left: auto;
  border: 1px solid blue;
  background: transparent;
  color: blue;
}
.todo-input input {
  height: 32px;
  border: 1px solid #ccc;
  margin-right: 14px;
  flex: 1;
}
.todo-input button {
  height: 32px;
  min-width: 80px;
  border: none;
  background-color: blue;
  color: #fff;
}
.todo-input {
  padding: 14px;
  display: flex;
  align-items: center;
}

.todo-accordion > li {
  display: flex;
  flex-direction: column;
}
.todo-accordion > ul > .todo-input {
  border-top: 1px solid #cccc;
}
.task-completed {
  text-decoration: line-through;
}
.expand section.todo {
  display: flex;
}
.collapse section.todo {
  display: none;
}
.collapse > h3 button::before {
  content: "\002B";
}
.expand > h3 button::before {
  content: "\2212";
}
